#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
  --nero-accordion-border-color: #9B598E;
}

/*
 * ---------------------------------------------------------------------------------
 * -- Testbed items
*/

.testbed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 1rem 2rem;
}

.testbed-item {
  width: 24rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*
 * ---------------------------------------------------------------------------------
 * -- Accordion items
*/

.accordion-root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.accordion-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border: solid;
  border-radius: 1rem;
  border-color: var(--nero-accordion-border-color);
  border-radius: 30px;
  flex-grow: 1;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: start;
  flex-grow: 2;
  padding-left: 2rem;
}

.accordion-title::selection {
  background-color: transparent;
}

.accordion-arrow {
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  align-content: flex-end;
  transform-origin: center center;
  margin-right: 1rem;
}

.accordion-arrow::selection {
  background-color: transparent;
}

.accordion-item {
  opacity: 0;
  max-height: 0;
}