#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
  --unga-rounded-border: 30px;
  --unga-half-rounded-border: 15px;
  --unga-border-color: #9b598e;
  --unga-hover-color: #9b387d;
  --unga-focus-color: #9b1874;
  --unga-text-color: #f905bc;
}

/*
 * ---------------------------------------------------------------------------------
 * -- Testbed items
 */

.testbed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem 2rem;
}

.testbed-item {
  width: 24rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*
 * ---------------------------------------------------------------------------------
 * -- General items
 */

.hidden-input {
  display: none;
}

.collapse-root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.collapse-item {
  position: relative;
  padding: 12px 4px;
  background-color: transparent;
  border-radius: var(--unga-half-rounded-border);
}

.collapse-item:focus {
  outline: none;
  background-color: var(--unga-focus-color);
}

.collapse-item:hover {
  background-color: var(--unga-hover-color);
}

/*
 * ---------------------------------------------------------------------------------
 * -- Accordion items
 */

.accordion-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border: solid;
  border-radius: 1rem;
  border-color: var(--unga-border-color);
  border-radius: var(--unga-rounded-border);
  flex-grow: 1;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: start;
  flex-grow: 2;
  padding-left: 2rem;
}

.accordion-title::selection {
  background-color: transparent;
}

.accordion-arrow {
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  align-content: flex-end;
  transform-origin: center center;
  margin-right: 1rem;
}

.accordion-arrow::selection {
  background-color: transparent;
}

.accordion-item {
  opacity: 0;
  max-height: 0;
}

/*
 * ---------------------------------------------------------------------------------
 * -- Dropdown items
 */

.dropdown-trigger {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  border: solid;
  border-radius: 1rem;
  border-color: var(--unga-border-color);
  border-radius: var(--unga-half-rounded-border);
  flex-grow: 1;
}

.dropdown-trigger:focus {
  outline: none;
  border-color: var(--unga-focus-color);
}

.dropdown-trigger-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: start;
  flex-grow: 2;
  padding-left: 2rem;
}

.dropdown-trigger-title::selection {
  background-color: transparent;
}

.dropdown-trigger-arrow {
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  align-content: flex-end;
  transform-origin: center center;
  margin-right: 1rem;
  rotate: 180deg;
}

.dropdown-trigger-arrow::selection {
  background-color: transparent;
}

.dropdown-items {
  z-index: 9999999;
  overflow-y: auto;
  height: auto;
  width: auto;
  max-height: 0px;
  margin: 4px;
  list-style-type: none;
}

.dropdown-item {
  position: relative;
  padding: 12px 4px;
  background-color: transparent;
  border-radius: var(--unga-half-rounded-border);
}

.dropdown-item:hover {
  background-color: var(--unga-hover-color);
}

.dropdown-item:focus {
  background-color: var(--unga-focus-color);
}

/*
 * ---------------------------------------------------------------------------------
 * -- AutoComplete items
 */

.autocomplete-trigger {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid;
  border-radius: 1rem;
  border-color: var(--unga-border-color);
  border-radius: var(--unga-half-rounded-border);
  flex-grow: 1;
  padding: 1rem 1rem;
}

.autocomplete-trigger:focus {
  outline: none;
  border-color: var(--unga-focus-color);
}

.autocomplete-items {
  z-index: 9999999;
  overflow-y: auto;
  height: auto;
  width: auto;
  max-height: 1080px;
  margin: 4px;
  list-style-type: none;
}

.autocomplete-item {
  position: relative;
  padding: 12px 4px;
  background-color: transparent;
  border-radius: var(--unga-half-rounded-border);
}

.autocomplete-item:hover {
  background-color: var(--unga-hover-color);
}

.autocomplete-item:focus {
  background-color: var(--unga-focus-color);
}

/*
 * ---------------------------------------------------------------------------------
 * -- Chip items
 */

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--unga-text-color);
  border: solid;
  border-color: var(--unga-border-color);
  border-radius: var(--unga-rounded-border);
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.tag-selection-trigger {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid;
  border-radius: 1rem;
  border-color: var(--unga-border-color);
  border-radius: var(--unga-half-rounded-border);
  flex-grow: 1;
  padding: 1rem 1rem;
}

.tag-selection-trigger:focus {
  outline: none;
  border-color: var(--unga-focus-color);
}

.tag-selection-items {
  z-index: 9999999;
  overflow-y: auto;
  height: auto;
  width: auto;
  max-height: 1080px;
  margin: 4px;
  list-style-type: none;
}

.tag-selection-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
